#outline-container-orgheadline1 {
    float: left;
    width: 45%;
    height: 100%;
}

#outline-container-orgheadline2 {
    float: right;
    width: 45%;
    height: 100%;
}

#content {
    height: auto;
}

#postamble {
    clear: both;
}

#outline-container-orgheadline2 h2 {
    display: none;
}

div>ul {
    margin-left: 0;
    padding-left: 0;
}

ul li {
    list-style-type: none;
}

.org-dl dd {
    font-style: italic;
    font-size: 90%;
    color: grey;
}

.due-date {
    font-size: 80%;
    font-style: italic;
    color: gray;
}

.exam-date {
    font-size: 80%;
    font-style: italic;
    color: red;
}

table {
    border: none;
    margin: 0
}

table tr {
    border: none;
}

table td + td {
    border: none;
}

td {
    padding-left: 0;
}
