.syllabus ul {
    list-style:none;
}

.syllabus caption {
    margin-bottom: 20px;
}

i {
    margin-right:6px
}

caption > ul {
    column-count: 2;
    text-align: left;
    list-style: none;
}

.exam {
    background-color: rgba(255,0,0,0.2);
}

.tutorial {
    background-color: rgba(0,255,0,0.1);
}

.language-concept {
    background-color: rgba(255,255,0,0.2);
}

table.syllabus {
    table-layout: fixed;
    width: 100%;
}

table.syllabus tbody ul {
    padding-left: 1em;
    margin: 0;
}

table.syllabus tbody ul>li {
    padding-left: 10px;
    text-indent:  -10px;
}

.syllabus td:nth-child(1), .syllabus th:nth-child(1) {
    width: 20%;
}

.syllabus td:nth-child(2), .syllabus th:nth-child(2) {
    width: 30%;
}

.syllabus td:nth-child(3), .syllabus th:nth-child(3) {
    width: 50%;
}
